    {{> header }}

    <div class="container">
        <h2>Device Availability</h2>
        <h3>Welcome {{loggedUser}}</h3>
        <h4>{{msg}}</h4>
       <form method="POST" action="/book_device">
            <div>
                <button type="button" class="btn btn-primary"> Martian Devices</button>
                {{#each deviceData}}
                {{#if mlocation}}
                    <button 
                        class="
                         btn btn-lg
                            {{#if instore}}
                                availableBG
                            {{else}}
                                bookedBG
                            {{/if}}
                        "
                        {{#if userid}}
                            enabled
                        {{else if instore}}
                            enabled
                        {{else}}
                            disabled
                        {{/if}}                    
                        id="btn11"
                        type="submit"
                        value={{device_id}}/{{username}}
                        name=device">
                            <span class="device-name">
                                {{device_id}}
                            </span>
                             <br>
                            <span class="os-version">
                                OS-{{os_version}}
                            </span>
                            <br>
                            <span class="username">
                                {{username}}
                            </span>
                            <br>
                            <span class="datentime">{{date_allocated}}</span>
                    </button>
                    {{/if}}
                {{/each}}
            </div>
        </form>
        <div>             
             {{#if isAuditor}}
                 <form method="POST" action="/auditMartian">
                     <p class="text-center txtbx" style="display: inline;">Last audited on - {{mAuditDate}} </p>
                     <input class="btn btn-primary btn-sm float-right" type="submit" value="Audit Martian">
                 </form>
             {{else}}
                 <p class="text-center txtbx" style="display: inline;">Last audited on - {{mAuditDate}} </p>
             {{/if}}  
        </div>
        <form method="POST" action="/book_device">
             <div>
                <button type="button" class="btn btn-primary"> Foxsports Devices</button>
                {{#each deviceData}}
                {{#if flocation}}
                    <button 
                        class="
                         btn btn-lg
                            {{#if instore}}
                                availableBG
                            {{else}}
                                bookedBG
                            {{/if}}
                        "
                        {{#if userid}}
                            enabled
                        {{else if instore}}
                            enabled
                        {{else}}
                            disabled
                        {{/if}}                    
                        id="btn11"
                        type="submit"
                        value={{device_id}}/{{username}}
                        name=device">
                            <span class="device-name">
                                {{device_id}}
                            </span>
                            <br>
                            <span class="os-version">
                                OS-{{os_version}}
                            </span>
                            <br>
                            <span class="username">
                                {{username}}
                            </span>
                            <br>
                            <span class="datentime">{{date_allocated}}</span>
                    </button>
                    {{/if}}
                {{/each}}
            </div>
         </form>
         <div>             
             {{#if isAuditor}}
                 <form method="POST" action="/auditFoxSports">
                     <p class="text-center txtbx" style="display: inline;">Last audited on - {{fAuditDate}} </p>
                     <input class="btn btn-primary btn-sm float-right" type="submit" value="Audit Foxsports">
                 </form>
             {{else}}
                 <p class="text-center txtbx" style="display: inline;">Last audited on - {{fAuditDate}} </p>
             {{/if}}  
         </div>
        
    
                